.button {
    background-color: #92BEFF; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 16px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #92BEFF;
    color: #1D1D1D;
    border: 1px solid #1D1D1D; 
  }
  
  .button:hover {
    background-color: #1D1D1D; 
    color: #DADADA; 
    border: 1px solid #DADADA; 
  }
  
  .button2 {
    background-color: #FFF4BF;
    color: #1D1D1D;
    border: 1px solid #1D1D1D; 
  }
  
  .button3 {
    background-color: #DF8282;
    color: #1D1D1D;
    border: 1px solid #1D1D1D; 
  }