p {
  color: #e9e9e9;
  width: 25%;
  padding: 0 10%;
}

.head2 {
  color: #df8282;
  font-size: 4em;
  padding: 0 5%;
}

.head2::first-letter {
  color: #e9e9e9 !important;
}

h3 {
  color: #e9e9e9;
  padding: 0 10%;
  font-size: 2em;
}

.head3 {
  color: #92beff;
  font-size: 4em;
  padding: 0 5%;
}

.abutton {
  display: block;
  width: fit-content;
}

.imgsingel {
  display: inline-block;
  width: 29%;
  margin: 3% 10%;
  border: 1px white solid;
  border-radius: 10px;
}

.grid4by4 {
  display: inline-block;
  width: 29%;
  margin: 3% 10%;
  border: 1px white solid;
  border-radius: 10px;
}
img {
  width: 50%;
  height: auto;
}

.imgsingel > img {
  width: 100%;
  height: auto;
}

.head3::first-letter {
  color: #e9e9e9 !important;
}

#abuttoncode {
  background-color: #92beff;
}
