html{
    background: #1D1D1D;
  }
  
  body{
    margin: 0;
  }
  
  p{
    margin-block-start: 1px;
    margin-block-end: 1px;
  }
  
  h1, h2 {
    color: white;
    font-family: Helvetica;
    display: inline-block;
  }
  
  a{
    color: #DADADA;
  }
  
  a:hover, a:active {
    color: #acacac;
  }
  
  .buttondiv{
    display: inline-block;
    float: right;
    padding-right: 20px;
  }

  #name {
    display: inline-block;
  }

 h1::first-letter {
  color: #FFF4BF;
}
 h2::first-letter {
  color: #FFF4BF;
}

.code  h1::first-letter {
  color: #92BEFF;
}
.code  h2::first-letter {
  color: #92BEFF;
}

.other  h1::first-letter {
  color: #DF8282;
}
.other  h2::first-letter {
  color: #DF8282;
}